.header-link-container-mobile {
  display: none;
}

.header-link-container {
  margin: 0 auto 40px auto;
  padding: 45px 0 45px 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
}

.header-link-container .header-link {
  font-family: 'Roboto', sans-serif;
}

.header-link-container .header-link a {
  text-decoration: none;
  color: #828282;
}

.header-link-container .header-link-active {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.header-link-container .header-link-active a {
  text-decoration: none;
  color: black;
}

.info-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-container .info-container-name {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.info-container .info-container-name p {
  margin: 0;
}

.info-container .info-container-prof {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-container .info-container-prof p {
  font-weight: 500;
  margin: 0;
}

.info-container .info-container-switchLang {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.info-container .info-container-switchLang p:nth-child(1) {
  font-weight: 900;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 2px solid;
}

.info-container .info-container-switchLang p:nth-child(2) {
  margin-left: 5px;
}

.photo-container {
  margin: 50px auto 0 auto;
  width: 80%;
  height: 400px;
  background-image: url("../img/ebalo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  padding-bottom: 75px;
  margin-top: 100px;
  height: 300px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-container-item {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}

.about-container h2 {
  padding: 10px;
  font-size: 50px;
}

.skills-container {
  padding: 90px 0 90px 0;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-container h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin: 0 0 70px 0;
}

.skills-container .skills-container-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-container .skills-container-item:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 85px 0;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card div:nth-child(1) {
  margin: 0 0 27px 0;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card div:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #828282;
  margin: 0 0 40px 0;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card div:nth-child(3) div {
  margin-right: 10px;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card div:nth-child(3) div:last-child {
  margin: 0;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card .skills-container-item-card-stars img {
  margin-right: 5px;
}

.skills-container .skills-container-item:nth-child(3) .skills-container-item-card .skills-container-item-card-stars img:last-child {
  margin: 0;
}

.skills-container .skills-container-item-card-svg {
  margin-bottom: 30px;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 80px;
}

.portfolio-container h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 80px;
}

.portfolio-container .portfolio-container-img-one {
  margin-bottom: 20px;
  background-image: url("../img/port-1.png");
  height: 510px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio-container .portfolio-container-img-two {
  margin-bottom: 20px;
  background-image: url("../img/port-2.png");
  height: 510px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio-container .portfolio-container-img-three {
  margin-bottom: 20px;
  background-image: url("../img/port-3.png");
  height: 510px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio-container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 100px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 115px 0 0 0;
}

.contact-container h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin: 0 0 20px 0;
}

.contact-container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.contact-container #welcome {
  margin-bottom: 30px;
}

.contact-container a {
  text-decoration: none;
}

.contact-container .contact-container-button {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 0 0 85px 0;
}

.contact-container .contact-container-icon-wrapper {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container p:last-child {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #828282;
  margin-top: 45px;
  margin-bottom: 130px;
}

@media screen and (max-width: 960px) {
  body {
    width: 100%;
  }
  .header-link-container {
    display: none;
  }
  .info-container {
    display: none;
  }
  .header-link-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .header-link-container-mobile-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 65px;
  }
  .header-link-container-mobile-name h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
    width: 30%;
    margin: 0 0 25px 0;
  }
  .header-link-container-mobile-name button {
    outline: none;
    border: none;
    background-color: white;
  }
  .header-link-container-mobile-name button img {
    width: 33px;
    margin-top: 18px;
    position: relative;
  }
  .photo-container {
    background-image: url("../img/ebalo-mobile-2.png");
    margin: 0 auto 0 auto;
  }
  .info-container-prof p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  .info-container-prof p:last-child {
    margin-bottom: 30px;
  }
  .header-link-menu-mobile {
    display: none;
  }
  .header-link-menu-mobile-active {
    display: block;
    background-color: white;
    position: absolute;
    height: 1000px;
    width: 100%;
    padding-top: 10px;
  }
  .header-link-menu-mobile-active .header-link-active-mobile {
    margin-bottom: 70px;
  }
  .header-link-menu-mobile-active .header-link-active-mobile a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  .header-link-menu-mobile-active .header-link-mobile {
    margin-bottom: 70px;
  }
  .header-link-menu-mobile-active .header-link-mobile a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: #828282;
  }
  .skills-container .skills-container-item {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-container .skills-container-item h2 {
    margin: 0 auto 40px auto;
  }
  .skills-container .skills-container-item .skills-container-item-card-stars {
    margin-bottom: 90px;
  }
  .portfolio-container .portfolio-container-img-one {
    height: 300px;
  }
  .portfolio-container .portfolio-container-img-two {
    height: 300px;
  }
  .portfolio-container .portfolio-container-img-three {
    height: 300px;
  }
  .contact-container-icon-wrapper {
    width: 50% !important;
  }
}

@media screen and (max-width: 400px) {
  .portfolio-container .portfolio-container-img-one {
    height: 150px;
  }
  .portfolio-container .portfolio-container-img-two {
    height: 150px;
  }
  .portfolio-container .portfolio-container-img-three {
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */